body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYVqYKNaVVP3-SAL_v1vOetHunTnnranFENA&usqp=CAU');
    background-size: 100%;     
    margin-left: 15%; /* Отступ слева */
}

h1,h2,h3,h4 {
    text-align: center
}

table {
    width: 100%;
}

td, th {
    width: 25%;
    height: 50px;
    text-align: center;
}

th {
    background-color: #4f81bd;
    color: #fff;
}

tr:nth-of-type(even) {
    background-color: #d0d8e8;
}

tr:nth-of-type(odd) {
    background-color: #e9edf4;
}
